table{
border-collapse:collapse;
width:100%;
border-left:1px solid #BFBFBF;
border-right:1px solid #BFBFBF;
border-bottom:1px solid #BFBFBF;
}
thead{
background-color:#21E2E2;
text-align:left;
}
th{
padding:20px;
}
td{
padding:10px;
text-align:left;
padding-left:20px;
}
tbody tr:nth-child(even){
background-color:#F1E8E8;
}
tbody tr:nth-child(odd){
background-color:#E5E5E5;
}


